{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="luxury">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
    <link rel="icon" href="{% static 'image/iconMigos.png' %}" type="image/x-icon">
    <title>The Migos Compiler</title>
</head>
<body data-theme="light" class="font-inter h-screen">
    <div class="navbar bg-base-100">
        <div class="navbar-start"></div>
        <div class="navbar-center">
            <a class="w-auto h-auto p-2 flex gap-2 btn btn-square btn-ghost text-xl font-inter font-extralight">
                <img src="{% static 'image/logoMigos.png' %}" class="block p-1 rounded-md h-9 " />
                The Migos Compiler
            </a>
        </div>
        <div class="navbar-end"></div>
    </div>
    {% block content %}
    {% endblock content %}
  </body>
</html>