{% extends '_base.html' %}
{% csrf_token %}
{% load static %}

{% block content %}
        <div class="container flex flex-row items-center justify-center gap-2 h-full">
            <div class="container w-2/4 h-full p-2">
                <textarea class="textarea textarea-bordered textarea-md w-full h-full" id="codeSpace" >Codigo Aqui</textarea>
            </div>
            <div class="container w-2/4 h-full p-2">
                <div class="mockup-code bg-neutral-200 text-neutral-900 w-full h-full text-base" id="codeSpaceMirror">
                </div>
            </div>
        </div>
    <script src="/static/js/Home.js"></script>
{% endblock content %}